@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './reset.css';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.title {
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  border-color: #EBEEF5;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.wrap {
  padding: 27px;
}
[style*=background-image] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tone {
  overflow:hidden; //超出的文本隐藏
  text-overflow:ellipsis; //溢出用省略号显示
  white-space:nowrap; //溢出不换行
}
.scroll-y {
  height: 100%;
  overflow-y: scroll;
}
.select-interval{
  display: inline-block;width: 43px;
  text-align: center;
}
.table-container {
  .button {
    color: #A2ACC6;
    width:29px;
    height:29px;
    line-height: 29px;
    margin: 0 auto;
    font-size: 16px;
    border-radius:3px;
    border:1px solid rgba(220,223,230,1);
  }
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.choose {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:227px;
  padding: 40px 27px;
  .el-form {
    display: flex;
    padding-right: 200px;
    .el-form-item {
      flex-grow: 1;
      /*display: flex;*/
      .el-input {
        max-width: 293px;
      }
    }
  }
  .buttons {
    text-align: right;
    .svg-icon {
      margin-right: 10px;
    }
    button:nth-child(n+2) {
      color: #409EFF;
    }
  }
}
