// global transition css

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.combobox-enter-active,
.combobox-leave-active,
,.combobox-move{
  transition: all .4s;
}

.combobox-enter,
.combobox-leave-active {
  opacity: 0;
  transform: translateY(-20px);
}


.user-enter-active,
.user-leave-active,
,.user-move{
   transition: all .4s;
 }

.user-enter,
.user-leave-active {
  opacity: 0;
  transform: translateX(-20px);
}
